@model dynamic

<div class="financial-report">
    <h2>Lemonsville Daily Financial Report</h2>
    <p>Day {{day.Number}}</p>
    <p>{{report.ResultMessage}}</p>
    <div class="row" ng-repeat="result in report.Results">
        <h4 class="col-xs-12 col-md-12">{{players[$index].name}}</h4>
        <div class="col-md-2 col-xs-6 col-sm-4">
            <div class="row">
                <label class="col-xs-12">Glasses sold</label>
                <div class="col-xs-12">{{result.GlassesSold}}</div>
            </div>
        </div>
        <div class="col-md-1 col-xs-6 col-sm-4">
            <div class="row">
                <label class="col-xs-12 col-md-12">Price</label>
                <div class="col-xs-12 col-md-12">{{choices[$index].Price}} cent</div>
            </div>
        </div>
        <div class="col-md-1 col-xs-6 col-sm-4">
            <div class="row">
                <label class="col-xs-12 col-md-12">Income</label>
                <div class="col-xs-12 col-md-12">{{result.Revenue / 100 | currency:"$"}}</div>
            </div>
        </div>
        <div class="col-md-2 col-xs-6 col-sm-4">
            <div class="row">
                <label class="col-xs-12">Glasses made</label>
                <div class="col-xs-12">{{choices[$index].Glasses}}</div>
            </div>
        </div>
        <div class="col-md-2 col-xs-6 col-sm-8">
            <div class="row">
                <label class="col-xs-12">Signs made</label>
                <div class="col-xs-12">{{choices[$index].Signs}}</div>
            </div>
        </div>
        <div class="col-md-1 col-xs-6 col-sm-4">
            <div class="row">
                <label class="col-xs-12">Expenses</label>
                <div class="col-xs-12">{{result.Expenses / 100 | currency:"$"}}</div>
            </div>
        </div>
        <div class="col-md-1 col-xs-6 col-sm-4">
            <div class="row">
                <label class="col-xs-12">Profit</label>
                <div class="col-xs-12">{{result.Profits / 100 | currency:"$"}}</div>
            </div>
        </div>
        <div class="col-md-1 col-xs-6 col-sm-4">
            <div class="row">
                <label class="col-xs-12">Assets</label>
                <div class="col-xs-12">{{players[$index].assets / 100 | currency:"$"}}</div>
            </div>
        </div>
    </div>

    <div class="btn-block">
        <button class="btn btn-danger pull-right" ng-click="newGame()">New game</button>
        <button class="btn btn-success" ng-click="nextDay()">Next day</button>
        <img src="@Url.Content("~/Content/Images/share.gif")" class="image-button" ng-click="share()"/>
    </div>
</div>

