@model dynamic

<div>
    <h2>Lemonsville Daily Financial Report</h2>
    <p>Day {{day.Number}}</p>
    <p>{{report.ResultMessage}}</p>
    <table class="table">
        <tr>
            <th class="text-center">Player</th>
            <th class="text-center">Glasses sold</th>
            <th class="text-center">Per glass</th>
            <th class="text-center">Income</th>
            <th class="text-center">Glasses made</th>
            <th class="text-center">Signs made</th>
            <th class="text-center">Expenses</th>
            <th class="text-center">Profit</th>
            <th class="text-center">Assets</th>
        </tr>
        <tr ng-repeat="result in report.Results">
            <td>{{players[$index].name}}</td>
            <td class="text-right">{{result.GlassesSold}}</td>
            <td class="text-right">{{choices[$index].Price}} cent</td>
            <td class="text-right">{{result.Revenue / 100 | currency:"$"}}</td>
            <td class="text-right">{{choices[$index].Glasses}}</td>
            <td class="text-right">{{choices[$index].Signs}}</td>
            <td class="text-right">{{result.Expenses / 100 | currency:"$"}}</td>
            <td class="text-right">{{result.Profits / 100 | currency:"$"}}</td>
            <td class="text-right">{{players[$index].assets / 100 | currency:"$"}}</td>
        </tr>
    </table>
</div>

<button class="btn btn-success" ng-click="nextDay()">Next day</button>