@model dynamic

<div>
    <h2>Lemonsville Weather Report</h2>
    <h3>{{day.Weather.Name}}</h3>
    <p>{{day.ForecastMessage}}</p>

    <div class="btn-block">
        <button class="btn btn-danger pull-right" ng-click="newGame()">New game</button>
        <button class="btn btn-success" ng-click="input()">OK</button>
    </div>
</div>