@model dynamic

<div>
    <h2>Weather forecast</h2>
    <p>The weather for today is {{day.Weather.Name}}</p>
    <p>{{day.ForecastMessage}}</p>
    
    <button class="btn btn-success" ng-click="input()">OK</button>
</div>