@model dynamic<div>
    <h2>Hi! Welcome to Lemonsville, California!</h2>
    <p>
        In this small town, you are in charge of running your own lemonade stand.<br />
        You can compete with as many other people as you wish, but how much profit you make is up to you
        (the other stands' sales will not affect your business in any way).<br />
        If you make the most money, you're the winner!!
    </p>
    <p>
        To manage your lemonade stand, you will  need to make these decisions every day:
        <ol>
            <li>How many glasses of lemonade to make (only one batch is made each morning)</li>
            <li>How many advertising signs to make (the signs cost fifteen cents each)</li>
            <li>What price to charge for each glass</li>
        </ol>
    </p>
    <p>
        You will begin with $2.00 cash (assets).<br />
        Because your mother gave you some sugar, your cost to make lemonade is two cents per glass (this may change in the future).<br />
        Your expenses are the sum of the cost of the lemonade and the cost of the signs.<br />
        Your profits are the difference between the income from sales and your expenses.<br />
        The number of glasses you sell each day depends on the price you charge, and on the number of advertising signs you use.<br />
        Keep track of your assets, because you can't spend more money than you have!
    </p>
    <button class="btn btn-success" ng-click="nextDay()">Start the game</button>
</div>