body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* custom */

.slider-container {
    height: 34px;
    padding-top: 3px;
    margin-left: 25px;
}

.ui-slider-horizontal {
    height: 28px;
}

.ui-slider .ui-slider-handle {
    width: 34px;
    height: 34px;
}

.col-xs-1 {
    min-width: 48px;
}

body {
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    margin-bottom: 140px;

    padding-top: 20px;
}

.blank {
    
}

.sunny {
    background-image: url('images/sunny.jpg');
}

.cloudy {
    background-image: url('images/cloudy.jpg');
}

.hotanddry {
    background-image: url('images/hotanddry.jpg');
}

.storm {
    background-image: url('images/storm.jpg');
}

.blank footer {
    background-color: rgb(255, 255, 255);
    border-top: 1px solid gray;
}

footer {
    border-top: 1px solid white;
    padding-top: 5px;
    position: fixed;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.30);
    bottom: 0;
    width: 100%;
    overflow: auto;
}

footer p {
    margin-top: 0;
    margin-left: 15px;
}

.financial-report .row {
    border-top: 1px solid white;
    padding-bottom: 5px;
}

.financial-report .row:nth-child(odd) {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.20);
}

.financial-report .row .row {
    border-top: 0 none;
    background-color: transparent;
}

.adsbygoogle {
    margin-bottom: 7px;
    margin-left: auto;
    margin-right: auto;
}

.image-button {
    cursor: pointer;
}

.error {
    display: block;
    color: red;
    margin-bottom: 15px;
}